
<!doctype html>
<html lang="en-GB">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel='stylesheet' id='wph-styles-css' href='static/css/wph-styles.css' type='text/css' media='all' />
<script type='text/javascript' src='static/js/jquery.min.js' id='jquery-core-js'></script>
<link rel="stylesheet" href="static/css/avatar.css" />
<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/css/callout.css" />

</head>

<body>
    <ul class="callouts">
        <li class="callouts--right" id="aiAnswer">Click Me and call me tommy</li>
    </ul>
    <div class="wph-avatar-wrapper wordpress-heroes-avatar" id="humanoid"> 
        <div class="wph-avatar position-relative">
        <div class="wph-avatar-image glasses-red display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-glasses-red.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image glasses-black display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-glasses-black.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image glasses-blue display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-glasses-blue.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image helmet display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-helmet.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image arm arm-right"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-arm-right-OK.png.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image arm arm-right arm-jar-right display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Arm-jar-right.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image arm arm-left"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-arm-left.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image arm arm-left arm-jar-left display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Arm-jar-left.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image legs"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-legs.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image chest"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-arm-chest.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-face.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face eye eyebrows"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-eyebrows.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face eye eye-closed eye-closed-right display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Eye-closed-right.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face eye eye-closed eye-closed-left display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Eye-closed-left.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face eye eye-right eye-right"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Eye-right.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face eye eye-right eye-pupil eye-pupil-right"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Eye-pupil-right.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face eye eye-left eye-left"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Eye-left.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face eye eye-left eye-pupil eye-pupil-left"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Eye-pupil-left.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face mouth mouth-closed-smile"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-mouth.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face mouth mouth-closed display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-mouth-closed-2.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face mouth mouth-smile display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-mouth-smile.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face mouth mouth-talking mouth-talking-4 display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Mouth-talking-4.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face mouth mouth-talking mouth-talking-3 display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Mouth-talking-3.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face mouth mouth-talking mouth-talking-2 display-none"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-Mouth-talking-2.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        <div class="wph-avatar-image face hair"><img width="150" height="240" src="static/images/WordPress Heroes - Avatar-hair.png" class="attachment-full size-full" alt="" decoding="async" loading="lazy" /></div>
        </div>
    </div>

    <div class="row mx-md-1 my-3">
        <div class="col-sm-4 d-none">
            <div class="card">
                <div class="card-header">
                Chat
                </div>
                <div class="card-body">
                    <textarea class="col-sm-12" id="text" name="text" readonly></textarea>
                </div>
            </div>
        </div>
        <div id="textPrediction" class="col-sm-12 d-none">
            <div class="card">
                <div class="card-header">
                News
                </div>
                <div class="card-body">
                    <textarea class="col-sm-12" id="textNews" rows="15" name="text"></textarea>
                </div>
            </div>
        </div>
        <div id="lastNews" class="col-sm-12 d-none">
            <div class="card">
                <div class="card-header">
                News
                </div>
                <div class="card-body">
                    <textarea class="col-sm-12" id="lastNewsText" rows="15" name="text"></textarea>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function($) {
            function wph_avatar_blink(target_eye = 'both', speed = 200){
                setTimeout(function(){
                    $('.eye:not(.eye-closed):not(.eyebrows)' + (target_eye != 'both' ? ':not(.eye-' + target_eye + ')' : '')).addClass('display-none');
                    $('.eye-closed').removeClass('display-none');
                    $('.wph-avatar-image.eyebrows img').animate({top:'+1px'}, 100);
                }, 500);
                setTimeout(function(){
                    $('.eye-closed').addClass('display-none');
                    $('.eye:not(.eye-closed):not(.eyebrows)' + (target_eye != 'both' ? ':not(.eye-' + target_eye + ')' : '')).removeClass('display-none');
                    $('.wph-avatar-image.eyebrows img').animate({top:'-1px'}, 100);
                }, 500 + speed);
            };

            function wph_avatar_arms(target_arm = 'left'){
                var random = Math.floor((Math.random() * $('.arm-' + target_arm + ':not(.arm-ok)').length));
                $('.arm-' + target_arm + ':not(.arm-ok)').addClass('display-none');
                $('.arm-' + target_arm + ':not(.arm-ok)').eq(random).removeClass('display-none');
            };

            function wph_avatar_eyebrows(distance, speed){
                $('.wph-avatar-image.eyebrows img').animate({top:'-' + distance + 'px'}, speed);
                $('.wph-avatar-image.eyebrows img').queue(function() {
                    $('.wph-avatar-image.eyebrows img').animate({top:'+' + distance + 'px'}, speed);
                    $(this).dequeue();
                });
            };

            function wph_avatar_pupils(speed){
                $('.wph-avatar-image.eye-pupil img').animate({left:'+1px'}, speed);
                $('.wph-avatar-image.eye-pupil img').queue(function() {
                    $('.wph-avatar-image.eye-pupil img').animate({left:'-1px'}, speed);
                    $(this).dequeue();
                });
            };

            function wph_avatar_mouth(){
                var random = Math.floor((Math.random() * $('.wph-avatar-image.mouth').length));
                $('.wph-avatar-image.mouth').addClass('display-none');
                $('.wph-avatar-image.mouth').eq(random).removeClass('display-none');
            };

            function wph_avatar_talking(){
                var random = Math.floor((Math.random() * $('.wph-avatar-image.mouth-talking').length));
                $('.wph-avatar-image.mouth').addClass('display-none');
                $('.wph-avatar-image.mouth-talking').eq(random).removeClass('display-none');
            };

            function wph_avatar_idle(){ 
                setInterval(function(){wph_avatar_blink();}, Math.floor((Math.random() * 2000) + 3000));
                setInterval(function(){wph_avatar_pupils(1000);}, Math.floor((Math.random() * 1000) + 5000));
                setInterval(function(){wph_avatar_arms('left');}, Math.floor((Math.random() * 2000) + 3500));
                setInterval(function(){wph_avatar_arms('right');}, Math.floor((Math.random() * 1000) + 3000));
            };

            wph_avatar_idle()
        });

        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.continuous = true;
        var synth = window.speechSynthesis;
        var wph_speak_interval;
        var firstStart = true;

        recognition.onstart = function () {
            if (firstStart == true)
            {
                document.getElementById("aiAnswer").innerHTML = "Voice recognition activated";
                firstStart = false;
            }
            // console.log("voice recognition activated");
        };

        recognition.onend = function () {
            // document.getElementById("aiAnswer").innerHTML = "Stop speaking";
            // console.log("stop speaking");
            // readOut("jarvis taking a nap, if you need me please click me again");
        };

        function readOut(message) {
            const speech = new SpeechSynthesisUtterance();
            speech.text = message;
            speech.volume = 1;
            speech.rate = 0.9;
            window.speechSynthesis.speak(speech);
            // console.log("Speaking out");
        }

        recognition.onresult = function (event) {
            let current = event.resultIndex;
            let transcript = event.results[current][0].transcript;
            transcript = transcript.toLowerCase();
            if (transcript.indexOf('news') > -1 && (transcript.indexOf('taiwan')>-1 || transcript.indexOf('taipei')>-1))
            {
                readOut("wait a moment");
                document.getElementById("aiAnswer").innerHTML = "wait a moment";
            }
            document.getElementById("text").value = transcript;
            var textValue = document.getElementById("textNews").value;
            var req = new XMLHttpRequest();
            req.onreadystatechange = function()
            {
                if(this.readyState == 4 && this.status == 200) {
                    result = this.responseText.split("::");
                    // console.log(result[0]);
                    recognition.abort();
                    document.getElementById("aiAnswer").innerHTML = result[0];
                    readOut(result[0]);
                    if (result[1] == 'display')
                    {
                        document.getElementById("textPrediction").classList.remove("d-none");
                        if (!document.getElementById("lastNews").classList.contains("d-none"))
                        {
                            document.getElementById("lastNews").classList.add("d-none");
                        }
                    }
                    else if (result[1] == 'none')
                    {
                        if (!document.getElementById("textPrediction").classList.contains("d-none"))
                        {
                            document.getElementById("textPrediction").classList.add("d-none");
                            document.getElementById("textNews").value = "";
                        }   
                        if (!document.getElementById("lastNews").classList.contains("d-none"))
                        {
                            document.getElementById("lastNews").classList.add("d-none");
                        }
                    }
                    else
                    {
                        document.getElementById("lastNews").classList.remove("d-none");
                        document.getElementById("lastNewsText").value = result[1];
                        if (!document.getElementById("textPrediction").classList.contains("d-none"))
                        {
                            document.getElementById("textPrediction").classList.add("d-none");
                            document.getElementById("textNews").value = "";
                        }     
                    }
                    setTimeout(function(){ recognition.start(); }, 2000);
                }
            }
            req.open('POST', '/index', true);  
            req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            req.send("text="+transcript+"&textPrediction="+textValue);
            // console.log(transcript);
        }
        document.querySelector("#humanoid").addEventListener("click", () => {
            recognition.start();
        })

        
    </script>
    <script type='text/javascript' src='static/js/bootstrap.min.js'></script>
</body>
</html>